.container {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   height: 100%;
   padding: 24px;
}

.empty {
   font-style: italic;
   color: var(--color-text-dim);
   text-align: center;
}
